# Large log files excluded from repository
LPIC-1-exam-101/3-Topic 103-Comandos GNU y UNIX/Gestion de Procesos/ficheros para laboratorios/access_log
LPIC-1-exam-102/5-Topic 105-Interprete de comandos Scripts y Gestion de Datos/Curso  Linux Shell Avanzado/Laboratorios centos7/fichero.log
LPIC-1-exam-102/5-Topic 105-Interprete de comandos Scripts y Gestion de Datos/Curso  Linux Shell Avanzado/Laboratorios centos7/access_log
LPIC-1-exam-102/5-Topic 105-Interprete de comandos Scripts y Gestion de Datos/105.2 - Shell Script/auth.log
LPIC-1-exam-101/3-Topic 103-Comandos GNU y UNIX/ficheros para laboratorios/access_log
LPIC-1-exam-102/5-Topic 105-Interprete de comandos Scripts y Gestion de Datos/Curso  Linux Shell Avanzado/ficheros para laboratorios/access_log
LPIC-1-exam-102/5-Topic 105-Interprete de comandos Scripts y Gestion de Datos/Curso  Linux Shell Avanzado/scripts/access_log
