#version=RHEL7
# X Window System configuration information
xconfig  --startxonboot

# License agreement
eula --agreed
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# Keyboard layouts
keyboard --vckeymap=es --xlayouts='es'
# System language
lang es_ES.UTF-8

ignoredisk --only-use=sda
# Network information
network  --bootproto=static --device=ens33 --gateway=192.168.1.1 --ip=192.168.1.125 --nameserver=192.168.1.1 --netmask=255.255.255.0 --ipv6=auto --activate
network  --bootproto=dhcp --hostname=sercentos7
# Root password
rootpw --iscrypted $6$26FFw6PK16dA1G/s$1zFqKaUoDdtNmGIJIJ61ivWFX4.0zdcg.dqDdlVvaboqKJmu3uVSgDMvlFKFxximQSAo9tyYY/F6mgk42JkSr.
# System timezone
timezone Europe/Madrid --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel 

%packages
@backup-server
@base
@compat-libraries
@core
@desktop-debugging
@development
@dial-up
@dns-server
@file-server
@fonts
@ftp-server
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@java-platform
@kde-desktop
@large-systems
@mail-server
@mariadb
@multimedia
@network-file-system-client
@performance
@print-client
@resilient-storage
@security-tools
@x11
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb=auto
%end
